<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="context-path" th:content="@{/}" />
	
	<title>商家运营管理系统</title>
	<link rel="shortcut icon" th:href="@{/images/favicon.ico}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}"/>
	
	<link rel="stylesheet" type="text/css" th:href="@{/scripts/libs/jquery-easyui-1.4/themes/bootstrap/easyui.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/scripts/libs/jquery-easyui-1.4/themes/icon.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
	
	<script type="text/javascript" th:src="@{/scripts/libs/jquery-1.11.1.min.js}"></script>
	
	<script type="text/javascript" data-main="/scripts/main.js" th:src="@{/scripts/libs/require-2.1.15.js}"></script>
	<!-- echarts官网提供模块化加载方式 -->
	<script type="text/javascript"  th:src="@{/scripts/libs/echarts/echarts.js}"></script>

</head>
<body>
	<div id="header">
		<div class="logo"></div>
		
		<div class="user">
			<span class="username">
				<span>当前用户:&nbsp;&nbsp;</span>
				<span class="currentuser">
					<a href="javascript: void(0);" th:inline="text">[[${#httpServletRequest.remoteUser}]]</a>	
				</span>
			</span>
			<a th:href="@{/logout}" class="exit">退出</a>
		</div>
		<ul id="main-navigation" class="menu"></ul>
	</div>
	<div id="content">
		<div id="main-menus" class="left"></div>
		<div class="right">
			<div class="right-white">
				<div class="location">
					当前所在位置：
					<a href="javascript: void(0);" id="location-1"></a>
					<span id="location-2"></span>
					<a href="javascript: void(0);" id="location-3" class="now"></a>
				</div>
				<div id="main-content">
				
				</div>
			</div>
			<div id="footer">版权所有：中科软科技股份有限公司</div>
		</div>
		<div class="clear"></div>
	</div>
	
</body>
</html>